/* Footer Styles */
.footer {
  background-color: var(--default-color);
  color: var(--default-white);
  padding: 1.5rem 1.5rem 0;
  text-align: center;
  position: relative;
}

.newsletter h3 {
  font-size: 2.156rem; /* 34.5px (Join Our Newsletter) */
  margin-bottom: 0.5rem;
  font-weight: bold;
}

.newsletter p {
  font-size: 0.9375rem; /* 15px (Subscribe to...) */
  margin: 0.3rem 0;
  font-weight: 500; /* Medium weight */
}

.newsletter input {
  padding: 0.8em;
  width: 350px;
  border-radius: 10px;
  border: 1px solid var(--default-white);
  font-size: 1rem; /* 16px (Email input) */
  font-weight: 500; /* Medium weight */
  box-sizing: border-box;
  margin-top: 1rem;
}

.social-links {
  margin-top: 0.5rem;
}

.social-links a {
  margin: 0 0.4em;
}

.social-links .social-icon {
  width: 50px;
  height: 50px;
  display: inline-block;
}

.social-links a img {
  margin-top: 1rem;
  vertical-align: middle;
}

.credit {
  font-size: 1rem; /* 12pt (Medium weight) */
  margin-top: 3rem;
  text-align: right;
  position: relative;
  font-weight: 500; /* Medium weight */
  opacity: 0.5; /* Set 50% opacity */

}
